@font-face {
    font-family: "mainFont";
    src: url("fonts/Akt-VariableFont_wght.ttf");
}

.body {
    background: #000000;
    background: linear-gradient(90deg, rgb(0, 32, 80) 0%, rgba(0, 162, 255, 1) 50%, rgba(0, 32, 80) 100%);
    /* background-image: linear-gradient(rgb(0 0 255 / 0.5), rgb(255 255 0 / 0.5)) */
    /* background-image: url(images/Someone\ Sitting\ in\ a\ Window\ Digital\ Art.png); */
    cursor: url("cursor/arrowhead-rounded-outline.svg"), default;
}

.socials {
    text-align: center;
    font-family: mainFont;
    font-size: 75px;
    background-color: #000d55;
    /* max-width: 2500px; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    max-width: 2500px;
}

.socials_container {
    padding: 25px;
    margin-top: 50px;
    /* max-width: 500px; */
}

.socials_title {
    text-align: center;
    background-color: rgb(68, 3, 153);
    border-radius: 5px;
    max-width: 1750px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.social_media_image {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.social_media_image:hover {
    width: 50px;
    height: 50px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    transform: scale(1.1);
    cursor: url("cursor/hand-pointer.svg"), default;
}

h1 {
    color: aliceblue;
    -webkit-text-stroke: 1px #6194a3;
    margin: 5px;
    font-size: 47.78px;
    /* color: rgb(192, 226, 255); */
    font-family: mainFont;
    /* -webkit-text-stroke: 5px #6194a3; */
    font-weight: bold;
}
h2 {
    color: aliceblue;
    -webkit-text-stroke: 1px #6194a3;
    margin: 5px;
    font-size: 39.81px;
    font-family: "mainFont";
    src: url("fonts/Akt-VariableFont_wght.ttf");
}
h3 {
    color: aliceblue;
    -webkit-text-stroke: 1px #6194a3;
    margin: 5px;
    font-size: 33.18px;
    font-family: "mainFont";
    src: url("fonts/Akt-VariableFont_wght.ttf");
}
h4 {
    color: aliceblue;
    -webkit-text-stroke: 1px #6194a3;
    margin: 5px;
    font-size: 27.65px;
    font-family: "mainFont";
}
h5 {
    color: aliceblue;
    -webkit-text-stroke: 1px #6194a3;
    margin: 5px;
    font-size: 23.04px;
    font-family: "mainFont";
}
h6 {
    color: aliceblue;
    -webkit-text-stroke: 1px #6194a3;
    margin: 5px;
    font-size: 19.2px;
    font-family: "mainFont";
}

.main_tab {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #000d55;
    max-width: 1000px;
    margin-top: 100px;
    border-radius: 25px;
    padding: 15px;
}

.important_social {
    background-color: #000835;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    outline-color: rgb(165, 215, 255);
    outline-width: 5px;
    outline-style: solid;
}

.important_social:hover {
    max-width: 550px;
    max-height: 250px;
    cursor: url("cursor/hand-pointer.svg"), default;
    outline-color: white;
    background-color: #00137e;
}

.important_social_media_image {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.important_social_title {
    border-radius: 25px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: #003968
}

.pfp {
    border-radius: 100px;
    outline-style: double;
    outline-color: rgb(165, 215, 255);
    outline-width: 10px;
    -webkit-box-shadow:0px 0px 59px 15px rgb(165, 215, 255);
    -moz-box-shadow: 0px 0px 59px 15px rgb(165, 215, 255);
    box-shadow: 0px 0px 59px 15px rgb(165, 215, 255);
    margin-top: 50px;
    margin-bottom: 25px;
}

.big_text {
    font-size: 100px;
}

.username {
    background-color: #000835;
    border-radius: 25px;
}

.social_icon {
    width: 45px;
    filter: brightness(0) invert(1);
    cursor: url("cursor/hand-pointer.svg"), default;
    margin-right: 10px;
    margin-left: 10px;
    /* background-color: #000835; */
}

.social_icon:hover {
    width: 50px;
}

.important_social_media_image_epic_games {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    filter: brightness(0) invert(1);
}

@media screen and (max-width: 600px) {
    .big_text {
        font-size: 75px;
    }

    .h2 {
        font-size: 50px;
    }

    .h4 {
        font-size: 15px;
    }
}